<table style="width:100%">
  <tr>
    <th>version</th>
    <th>protocolversion</th> 
    <th>walletversion</th>
    <th>balance</th>
    <th>newmint</th>
    <th>stake</th>
    <th>blocks</th>
    <th>moneysupply</th>
    <th>connections</th>
    <th>proxy</th>
    <th>ip</th>
    <th>difficulty</th>
    <th>testnet</th>
  </tr>
  <tr>
    <td>{{ version }}</td>
    <td>{{ protocolversion }}</td> 
    <td>{{ walletversion }}</td>
    <td>{{ balance  }}</td>
    <td>{{ newmint }}</td>
    <td>{{ stake }}</td>
    <td>{{ blocks }}</td>
    <td>{{ moneysupply }}</td>
    <td>{{ connections }}</td>
    <td>{{ proxy }}</td>
    <td>{{ ip }}</td>
    <td>{{ difficulty }}</td>
    <td>{{ testnet }}</td>
  </tr>
</table>
