<table style="width:100%">
  <tr>
    <th>ppc_version</th>
    <th>os</th> 
    <th>hardware</th>
    <th>serial</th>
    <th>mac_address </th>
    <th>uptime</th>
    <th>average_load</th>
    <th>balance</th>
    <th>stake</th>
    <th>newmint</th>
    <th>ip</th>
    <th>connections</th>
    <th>blocks</th>
    <th>moneysupply</th>
    <th>pos_difficulty</th>
    <th>pow_difficulty</th>
    <th>protocolversion</th>
    <th>walletversion</th>
  </tr>
  <tr>
    <td>{{ ppc_version }}</td>
    <td>{{ os }}</td> 
    <td>{{ hardware  }}</td>
    <td>{{ serial  }}</td>
    <td>{{ macc_addr  }}</td>
    <td>{{ uptime }}</td>
    <td>{{ average_load }}</td>
    <td>{{ balance }}</td>
    <td>{{ stake }}</td>
    <td>{{ newmint }}</td>
    <td>{{ ip }}</td>
    <td>{{ connections }}</td>
    <td>{{ blocks }}</td>
    <td>{{ moneysupply }}</td>
    <td>{{ pos_difficulty }}</td>
    <td>{{ pow_difficulty }}</td>
    <td>{{ protocolversion }}</td>
    <td>{{ walletversion }}</td>
  </tr>
</table>
